/Train
/Test
/NumpyFiles-Wahid
/sliceByslice
/NRRDFiles
/UnetrOutput
/NetworkOutput
/Figures
/.ipynb_checkpoints
Overlays
ReshapedOutputs
9.nrrd
checkFiles.ipynb
.ipynb_checkpoints
checkFiles.ipynb
Generate Figures.ipynb
runUnetR.sh
seg.nrrd
volume.nrrd
